ADMIN_EMAIL=
ADMIN_PASSWORD=
APP_NAME=
BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=
JWT_SECRET=
MASTER_API_KEY=
PASSWORD_SALT=
SESSION_SECRET=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=
TELEBIRR_PAYMENT_WINDOW_MINUTES=
TELEBIRR_PHONE_NUMBER=
TELEBIRR_RECIPIENT_NAME=
TELEGRAM_SUPPORT_USERNAME=
VERIFY_ET_API_KEY=